.sidenav {
  max-height: 100vh;
  height: 100vh;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: width 0.2s ease-in-out;  
  overflow-y: auto;
  padding-top: var(--height-header);
}

.sidenav > div{
    transition:   2.5s;
    border: 1px solid rgba(0, 0, 0, 0.287);  
    opacity: 1 ;
    transition: visibility 0s, opacity 1s ease-in-out
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;  
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .lista-menu{
  padding: 0px;
  text-align:center;
  color: #fff;

  }