body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control {
  color: black !important;
}



.gris {
  background-color: rgba(163, 163, 224, 0.067);
}
/* html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        } */

.fronto {
  background-color: rgba(10, 110, 241, 0.959);
  position: fixed;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.attribution {
  font-size: 12px;
  color: #444;
  text-decoration: none;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: -1;
}
.attribution:hover {
  color: #1fa67a;
}

.sidenav {  
  max-height: 100vh;
  height: 100vh;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: width .2s ease-in-out;
  padding-top: 60px;
  overflow-y: auto;
}

.sidenav > div{
  transition:   2.5s;
  border: 1px solid rgba(0, 0, 0, 0.287);  
  opacity: 1 ;
  transition: visibility 0s, opacity 1s ease-in-out
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;  
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* ---------------------------------------------modal----------------------------- */

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */  
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.788); /* Black w/ opacity */
}

/* Modal Content */
.container-modal {
  
  overflow-y: scroll;
  background-color: #fefefe;
  margin: auto;
  /* padding: 20px; */
  /* border: 1px solid #888; */
  width: 90vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 80vh;
  background-color: transparent;
}

/* The Close Button */
.container-modal > span {
  position: absolute;
  color: #aaaaaa;
  right: 10px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}





@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


